article{
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
	padding-left: 3em;
	padding-right: 3em;
}


 .required:before { 
 content:"*"; 
 font-weight: bold;
 color: red;
 display: inline-block;}


body {
	height:90%;
    width:90%;
    padding:2em;    
	margin: 2em;  
	border: 0.25em solid #4F4B4B;
	background-color: #066845;
	
}

.betnTags{
margin-left: 20px;
margin-top:15px;
margin-bottom:10px;
height:40px;
width:200px;
border-radius: 15px;
}


label {
 display:inline-block; 
 color:white;
 height:40px;
 }

h1 { 
  color: black;
  display: block;
  font-size: 3em; 
  text-align: left;
  text-shadow: 2px 2px #4F4B4B;
  
 
}


a {
   font-size: 1.5em;    
   color: blue;
   
 
}
 
.button1 {
  background-color: #4F4B4B;
  border: 1px solid #000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}


.button2 {
  background-color: white;
  border: 1px solid #4F4B4B;
  color: black;
  padding: 15px 32px;  
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
   width: 320px;
   text-align: left;
}

.searchBox {
     position: absolute;
    top: 3em;
    right: 7em;	
	
	
}

.information {
    position: relative;
    bottom: 23em;
    left: 25em;	
	color:#7EDFFE;
	width: 43em;
	
}

.references {
   position: relative;
    bottom: 22em;
    left: 25em;	
	color:blue;
	width: 43em;
	
}

.discussionPost {
    position: relative;
    bottom: 23em;
    left: 25em;	
	
}

.footer {
    position: relative;
    bottom: 18em;
    left: 25em;	
	
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
}
p{
	
	padding-left: 2em;
	padding-right: 2em;
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
}

* {
  box-sizing: border-box;
}

.menu {
  overflow: hidden;
  border: 1px solid #FFFFFF;  
}

.menu:focus {
 background-color:white;
 color: rgb(25,25,112);
 border: 1px solid rgb(25,25,112);
}

a:focus {
   
    
 color: white;
 border: 1px solid rgb(25,25,112);
font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";

}


a:hover  {
   color: rgb(2, 2, 51);
font-family: "Franklin Gothic Book", "system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
}
a:active {
   color: rgb(5, 41, 59);
font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
}
a:visited  {
   color: blue;
font-family: "Franklin Gothic Book", "system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
}
 

button:focus  {
 /*background-color:rgb(9, 9, 66);
 color: #ffffff; */
 background-color:white;
 color: rgb(25,25,112);
 border: 1px solid rgb(25,25,112);
}

button:hover  {
 background-color:rgb(2, 2, 51);
 color: #ffffff;
}


button:active   {
 background-color:rgb(5, 41, 59);
 color: #ffffff;
}
 button:visited  {
 background-color:rgb(0, 102, 153);
 color: #ffffff;
}


 

input {
	 white-space: normal;
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";

}
textarea {
	 white-space: normal;
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";

}

.warning{
	color: 	#F0FFFF;
	background-color: #DAA520;	
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
}
 
.show{
	display: inline-block;
	
}

.text{
	color: #000000;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	/*letter-spacing: 2px;
	 line-height: 1.8; */
	/* word-spacing: 10px;*/
	 font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";	
}






h2,h3,h4 {font-weight: bold;
       /*padding: 10px;*/
	   padding-left: 2em;
       text-align: left;
	   font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";}
	   
.button {
  background-color:rgb(0, 51, 102); 
  color: white;
  padding-left: 2em;
  /*padding: 12px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 25%;
  font-size: 100%;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid black;
  padding: 8px;
  border-radius: 11px;
  font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
}
ul {
    
    margin: 0;
    
  /*  width: 170px; */
    background-color: #f1f1f1;
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
	padding-left:70px;
	list-style-type:  disc;
	background-color:white;
} 
ol{
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
	padding-left:70px;
	
}

ol.sblst {
  list-style-type: lower-alpha;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
	
}

/* Change the link color on hover */
li a:hover {
	background-color:rgb(2, 2, 51);
    color: white;
	font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
}


.topnav {
  overflow: hidden;
  background-color:rgb(0, 51, 102); 
  /* background-color: green;  test */
  font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
  
}

.topnav a {
  float: left;
  padding-left:170px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
  font-family: "Franklin Gothic Book","system-ui", "Segoe UI", "Ubuntu", "'Helvetica Neue", "sans-serif";
  background-color:rgb(0, 51, 102);
}


.topnav a:hover {
 background-color:rgb(2, 2, 51);
  color: white;
}


.topnav a:active {
  background-color: rgb(5, 41, 59);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	
  }
}
